@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Rubik:ital,wght@0,400;0,600;1,400&display=swap');

<<<<<<< HEAD
=======
:root {
  --dark: #2f2f2f;
  --darker: #090909;
  --light: #d7d7d7;
  --lighter: #f7f7f7;
  --fade: #a7a7a7;
}

>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  position: relative;
  min-height: 100vh;
<<<<<<< HEAD
}

.latest {
  padding: 2% 2.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
=======
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.latest {
  margin: 1rem;
}

.latest h1 {
  color: var(--dark);
  margin-bottom: 0.5rem;
}

.latest h1 i {
  margin-right: 0.5rem;
>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
}

.latest-item {
  overflow: hidden;
  min-width: 260px;
  max-width: 410px;
  padding: 1rem;
<<<<<<< HEAD
  background-color: #f7f7f7;
=======
  background-color: var(--lighter);
>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.05));
}

.latest-item a {
  width: 100%;
<<<<<<< HEAD
  color: #222;
=======
  color: var(--dark);
>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
  text-decoration: none;
}

.item-desc {
  margin-top: 1rem;
<<<<<<< HEAD
  border-top: 1px solid #dfdfdf;
=======
  border-top: 1px solid var(--light);
>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
  padding-top: 0.5rem;
  font-size: 14px;
}

.byline {
  display: block;
  margin-top: 0.5rem;
<<<<<<< HEAD
  color: #777;
}

.item-desc h2 {
  color: #333;
=======
  color: var(--fade);
}

.item-desc h2 {
  color: var(--dark);
>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
}

.item-desc p {
  margin-top: 0.5rem;
  line-height: 1.5;
  text-align: justify;
}

.cover {
  height: 240px;
  width: 100%;
  border-radius: 0.25rem;
<<<<<<< HEAD
  background: var(--url), #222;
=======
  background: var(--url), var(--dark);
>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  padding: 2rem 10%;
<<<<<<< HEAD
  color: #afafaf;
  background-color: #090909;
=======
  color: var(--light);
  background-color: var(--darker);
>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
}

#scroll-top {
  border: none;
  cursor: pointer;
  z-index: 10;
}

#scroll-top .fas {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 0.6rem 0.7rem;
  border-radius: 50%;
<<<<<<< HEAD
  background-color: #090909;
=======
  background-color: var(--darker);
>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
  color: #efefef;
}

header {
  width: 100%;
<<<<<<< HEAD
  padding: 1rem 10%;
  background-color: #090909;
=======
  padding: 1.75rem 10%;
  background-color: var(--darker);
>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
  color: #efefef;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  position: relative;
}
.nav-brand img {
  width: 3rem;
}
.nav-links {
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.nav-links .link {
  margin-left: 3rem;
}

.link {
  padding: 0.5rem 0;
  color: #eeeeee;
  text-decoration: none;
  font-weight: bold;
  transition: all 200ms linear;
  position: relative;
}
.link:hover {
  color: #fbfbfb;
}
.link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  height: 1px;
  width: 1.1rem;
  background-color: #fbfbfb;
  transition: 200ms;
}
.link:hover::after {
  width: 100%;
}
<<<<<<< HEAD
=======

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #333;
}
body::-webkit-scrollbar-thumb {
  background: #666;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
>>>>>>> f7fd6228b7b44be6a0421fd9b221f2e500774b92
