@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Rubik:ital,wght@0,400;0,600;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
  position: relative;
}

.breadcrumb {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.breadcrumb a {
  color: #dfdfdf;
  text-decoration: none;
}

p {
  text-align: justify;
  margin-bottom: 1.25rem;
  color: #3c3c3c;
}

p::first-letter {
  margin-left: 2rem;
}

img {
  width: 100%;
}

h1,
h2 {
  margin-bottom: 1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

header {
  margin: 0 auto 5%;
  padding: 7.5% 25%;
  background-color: #090909;
  color: #efefef;
  background-image: url('./cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.byline {
  color: #cfcfcf;
}

main {
  max-width: 90vw;
  width: 600px;
  margin: 0 auto 5%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

figure {
  width: 90%;
  margin: 5% auto;
}

figcaption {
  color: #4c4c4c;
  font-size: 0.8rem;
  text-align: center;
  user-select: none;
}

.dafpus {
  margin-top: 10%;
}

.dafpus ul {
  list-style: none;
}

.dafpus li {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.dafpus li::first-letter {
  margin-left: -1rem;
}

.social {
  position: fixed;
  left: 5%;
  bottom: 17%;
  text-align: center;
}

.social a {
  text-decoration: none;
}

.social i {
  display: block;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 2rem;
  color: #efefef;
  background-color: #090909;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
  margin-top: 1rem;
  cursor: pointer;
}

footer {
  z-index: 1;
  padding: 2rem 10%;
  color: #afafaf;
  background-color: #090909;
}

#scroll-top {
  border: none;
  cursor: pointer;
  z-index: 10;
}
#scroll-top .fas {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 0.6rem 0.7rem;
  border-radius: 50%;
  background-color: #090909;
  color: #efefef;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #333;
}
body::-webkit-scrollbar-thumb {
  background: #666;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 840px) {
  header {
    padding: 7.5% 10%;
  }
  .social {
    display: none;
  }
}
